<div class="container">


<div class="profile-card" [ngClass]="{ 'dark-mode': isDarkMode }">
  <img alt="Photo" class="profile-photo" src="assets/img/prashantphoto.jpg">

    <h2>Name:{{ name }}</h2>
    <h3>Title: {{ jobTitle }}</h3>
    <p>Bio: {{ bio }}</p>
    <div class="social-icons">
      <a href="https://linkedin.com" target="_blank"><i class="fab fa-linkedin"></i></a>
      <a href="https://github.com" target="_blank"><i class="fab fa-github"></i></a>
      <a href="https://twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
    </div>
    <!-- <div className="btn-class"> -->
      <div>
     
      <button class="contact-btn" (click)="contactMe()">Contact Me</button>
      <button class="toggle-btn" (click)="toggleDarkMode()">Toggle Dark Mode</button>
         
    </div>
    <!-- </div> -->
  </div>
</div>